:root{
  --dark: #1A1E23;
}

*{
  padding: 0;
  margin: 0;
}
.font-ubuntu{
  font-family: 'Ubuntu';
}
.font-ibm{
  font-family: 'IBM Plex Mono';
}
.fs-14{
  font-size: 14px !important;
}
.z-index-top{
  z-index: 9999;
}
.my-container{
  padding: 0 128px !important;
}
.navbar .active{
  color: #12F7D6;
}
.navbar-brand{
  font-family: 'IBM Plex Mono';
  font-size: 25px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 42px;
}
.second-links{
  gap: 32px !important;
  font-size: 20px !important;
  line-height: 32px;
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
.nav-phone{
  height: 92.5vh;
}
.nav-link{
  transition: all 250ms ease-in-out;
}
.nav-link:hover{
  color: #12F7D6 !important;
  transition: all 250ms ease-in-out;
  transform: translateY(-2px);
}
.active svg{
  fill: #12F7D6 !important;
}
.nav-link svg{
  fill: white;
  transition: all 250ms ease-in-out;
}
a{
  text-decoration: none;
}
.show{
  transition: all .8s cubic-bezier(0.58, 0.03, 0.37, 0.99);
  border-radius: 5px;
}
.nav-link:hover svg{
  fill: #12F7D6 !important;
  transition: all 250ms ease-in-out;
}
.bottom{
  opacity: 0;
}
.show .bottom{
  opacity: 1;
  transition: all 1.7s ease-in;
}
.top{
  opacity: 0;
}
.show .top{
  opacity: 1;
  transition: all .8s ease-in;
}
.section1{
  padding: 64px 10px !important;
  /* height: 90vh; */
}
.section1 h1{
  font-size: 50px !important;
  padding-bottom: 64px;
}
.section1 .card{
  border-radius: 160px 0px;
  border: 4px solid var(--White, #FFF);
  background: var(--BG-1, #292F36);
  box-shadow: -4px -4px 2px 0px #12F7D6;
  padding: 24px;
  width: 360px !important;
}
.card img{
  width: 96px !important;
  height: 96px !important;
  object-fit: cover;
}
.tags{
font-size: 13px;
}
.items{
  border-radius: 80px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: flex-start;
  padding: 70px 32px;
  width: 215px;
  height: 378px;
}
.section2{
  background-color: rgb(26, 30, 35);
}
.section2>img{
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: .2;
  width: -webkit-fill-available;
}
.section2 .content{
  padding: 64px 0 !important;
  z-index: 1;
}
.section2 .content .text-content{
  margin-top: 64px;
}
.section2 .text-content h1{
  padding: 16px 40px;
  border-radius: 40px 0px;
  border: 4px solid var(--Brand-1, #12F7D6);
  width: auto;
}
.paragraph{
  border-radius: 40px;
  padding: 24px 40px;
}
.text-content img{
  border-radius: 16px;
}
.section2 .content img{
  z-index: 2;
}
.section3{
  background-color: #373737;
}
.section3>img{
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: .2;
  width: -webkit-fill-available;
}
.section3 .content{
  padding: 64px 0 !important;
  z-index: 1;
}
.box-icon{
  width: 120px !important;
  height: 120px !important;
  margin: 0 auto;
}
.ico-text{
  width: 120px;
  margin: 0 auto;
}
.ico-1{
  background-color: #E54F26;
}
.ico-2{
  background-color: #0C73B8;
}
.ico-3{
  background-color: #E7A020;
}
.ico-4{
  background-color: #28A9E0;
}
@media (max-width: 1200px) {
  .my-container{
    padding: 0 1rem !important;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg{
    padding: 20px 0px;
    border-bottom: 1px solid #43454D;
  }
  .navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
  }
  .second-links{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
  .navbar-expand-lg .nav-phone{
    display: none !important;
  }
}

.section4{
  background-color: rgba(26, 30, 35, .1);
}
.section4 .content{
  padding: 64px 0 !important;
  z-index: 1;
}

.section5{
  background-color: #1A1E23;
}
.section5 .content{
  padding: 64px 0 !important;
  z-index: 1;
}
.sendMsg{
  padding: 10px 25px;
  border-radius: 40px 0px;
  border: 4px solid var(--Brand-1, #12F7D6);
  width: fit-content !important;
}

.inputs input{
  border: none;
}
.inputs input:focus{
  outline: none;
}
.inputs input::placeholder{
  color: white;
}
.inputs{
  border-bottom: 1px solid rgb(18, 247, 214, .7);
  padding-bottom: 10px;
}